name: Deploy

on: [push]

jobs:
  deploy:
    if: ${{ github.ref == 'refs/heads/main' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Authenticate to the cluster
        uses: ./.github/actions/authenticate-cluster
        with:
          kube_cluster: ${{ secrets.KUBE_CLUSTER }}
          kube_cert: ${{ secrets.KUBE_CERT }}
          kube_token: ${{ secrets.KUBE_TOKEN }}
          kube_namespace: ${{ secrets.KUBE_NAMESPACE }}
      - name: Make deploy.sh executable
        run: chmod +x ./deploy.sh
      - name: Deploy
        run: ./deploy.sh

  get_claims_api_app_token:
   if: ${{ github.ref == 'refs/heads/main' }}
   uses: peter-murray/workflow-application-token-action@v4
   with:
     application_id: ${{ secrets.claims_api_github_app_id }}
     application_private_key: ${{ secrets.claims_api_github_app_private_key }}
     organization: ${{ secrets.github_app_organisation }}

  apply_webhooks:
    if: ${{ github.ref == 'refs/heads/main' }}
    needs: get_claims_api_app_token
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Authenticate to the cluster
        uses: ./.github/actions/authenticate-cluster
        with:
          kube_cluster: ${{ secrets.KUBE_CLUSTER }}
          kube_cert: ${{ secrets.KUBE_CERT }}
          kube_token: ${{ secrets.KUBE_TOKEN }}
          kube_namespace: ${{ secrets.KUBE_NAMESPACE }}
      - name: Make create-webhooks.sh executable
        run: chmod +x ./seed/create-webhooks.sh
      - name: Apply webhooks
        env:
          NAMESPACE: ${{ secrets.KUBE_NAMESPACE}}
          GH_PAT_ACCESS_TOKEN: ${{ secrets.GH_PAT_ACCESS_TOKEN}}
          GH_CLAIMS_PAT_ACCESS_TOKEN: ${{ steps.get_claims_api_app_token.outputs.token }}
        run: ./create-webhooks.sh
        working-directory: ./seed
